 <section id="seccion1">
      <div class="ed-container justify">
        <div class="ed-item web-65 no-padding">
		  <div class="Titulo-curso" >
            <h2>{{cursoTitle}}</h2>
          </div>
          <figure class="figure-detalle" >
            <img ng-src="img/{{cursoImg}}" alt="">
          </figure>
        </div>
        <div class="ed-item abcenter cross-center hasta-web">
          <div class="btn-llamar aparecer-arriba"></div>
        </div>
        <div class="ed-item web-30 abcenter no-padding" ng-controller="formularioCtrl">
          <form action="form.php" method="post" name="formularioTop" ng-submit="formularioTop.$valid">
            <h3>CONOCE MÁS</h3>
            <div class="input">
              <input type="text"  name="nombre" ng-model="formData.nombre" placeholder="Nombre y Apellido" ng-minlength="2" required/>
              <span class="showMe" ng-show="formularioTop.$dirty && formularioTop.nombre.$error.minlength">Tu Nombre es requerido</span>
            </div>
            <div class="input">
              <input type="email"  name="email" ng-model="formData.email" placeholder="E-mail" ng-pattern="/^([0-9a-zA-Z_]([-.\w]*[0-9a-zA-Z_.-])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$/" required/>
              <span class="showMe" ng-show="formularioTop.$dirty && formularioTop.email.$error.pattern">Colocá un mail válido</span>
            </div>
            <div class="input">
              <input type="number"  name="cod" ng-model="formData.cod"  ng-maxlength="5" ng-minlength="2" placeholder="Cod. Área" required/>
              <span class="showMe" ng-show="formularioTop.$dirty && formularioTop.cod.$error.minlength">El código es muy corto</span>
              <span class="showMe" ng-show="formularioTop.$dirty && formularioTop.cod.$error.maxlength">El código es muy largo</span>
            </div>
            <div class="input">
              <input type="number"  name="telefono" ng-model="formData.telefono" ng-minlength="6" placeholder="Teléfono" required/>
              <span class="showMe" ng-show="formularioTop.$dirty && formularioTop.telefono.$error.minlength">Colocá un teléfono válido</span>
            </div>
            <p>seleccione su curso de Interés</p>
            <div class="input" ng-controller='todosCursos'>
              <select ng-model=" formData.select" ng-options="item.name for item in inlae | filter:{{cursoId}} ">
                <option value="" ng-if="false" ></option>
              </select>
            </div>
            <div class="input">      
              <input type="submit" ng-show="formularioTop.$valid" ng-click="submitForm(formData)" value="QUIERO INFORMARME"/>
              <input type="submit" ng-show="formularioTop.$invalid" value="COMPLETÁ LOS DATOS" ng-disabled="formularioTop.$invalid"/>
            </div>
            <div class="input input-flex">
              <figure><img src="img/candado.png" alt=""></figure>
              <p>Jamás compartiremos tu información personal con nadie, sólo la utilizaremos para responder tu consulta en INLAE.</p>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section id="seccion4">
      <div class="ed-container">
      	<div class="ed-item web-65">
          <h2>Objetivos del curso</h2>
      		<p>{{cursoObjetivo | atrapado}}</p>
      	</div>
      	<div class="ed-item web-30 no-padding desde-web web-offset-5">
      		<div class="llamanos">
      			<h3>LLAMANOS AL</h3>
      			<h2><span>(011) </span> 5277-4997</h2>
            <img src="img/telefono.png" alt="telefono">
      		</div>
      		<h2>Cursos Relacionados</h2>
      		<div class="cursos-relacionados" ng-controller="todosCursos">
            <div class="ed-item aparecer-arriba" ng-repeat="oficio in inlae   | orderBy:'name':true | filter: {relacion:cursoRela} ">
              <a href="#/{{oficio.name}}/{{oficio.imagesUrl}}/{{oficio.id}}/{{oficio.objetivo | escape }}/{{oficio.relacion}}">
                <figure>
                  <img ng-src="img/{{oficio.imagesUrl}}">
                </figure>
                <p class="aparecer-izquierda">
                  <span class="icono-logo"></span> 
                  {{oficio.name}} 
                </p>
              </a>
            </div>    
          </div>
      	</div>
      </div>
    </section>
    <section class="form-bottom">
      <div class="ed-container abcenter">
        <div class="ed-item web-30 abcenter" ng-controller="formularioCtrl">
          <form action="form.php" method="post" name="formularioTop" ng-submit="formularioTop.$valid">
            <h3>CONOCE MÁS</h3>
            <div class="input aparecer-arriba">
              <input type="text"  name="nombre" ng-model="formData.nombre" placeholder="Nombre y Apellido" ng-minlength="2" required/>
              <span class="showMe" ng-show="formularioTop.$dirty && formularioTop.nombre.$error.minlength">Tu Nombre es requerido</span>
            </div>
            <div class="input aparecer-abajo">
              <input type="email"  name="email" ng-model="formData.email" placeholder="E-mail" ng-pattern="/^([0-9a-zA-Z_]([-.\w]*[0-9a-zA-Z_.-])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})$/" required/>
              <span class="showMe" ng-show="formularioTop.$dirty && formularioTop.email.$error.pattern">Colocá un mail válido</span>
            </div>
            <div class="input aparecer-arriba">
              <input type="number"  name="cod" ng-model="formData.cod"  ng-maxlength="5" ng-minlength="2" placeholder="Cod. Área" required/>
              <span class="showMe" ng-show="formularioTop.$dirty && formularioTop.cod.$error.minlength">El código es muy corto</span>
              <span class="showMe" ng-show="formularioTop.$dirty && formularioTop.cod.$error.maxlength">El código es muy largo</span>
            </div>
            <div class="input aparecer-abajo">
              <input type="number"  name="telefono" ng-model="formData.telefono" ng-minlength="6" placeholder="Teléfono" required/>
              <span class="showMe" ng-show="formularioTop.$dirty && formularioTop.telefono.$error.minlength">Colocá un teléfono válido</span>
            </div>
            <p>seleccione su curso de Interés</p>
            <div class="input aparecer-arriba" ng-controller='todosCursos'>
              <select ng-model=" formData.select" ng-options="item.name for item in inlae | filter:{{cursoId}} ">
                <option value="" ng-if="false" ></option>
              </select>
            </div>
            <div class="input aparecer-abajo">      
              <input type="submit" ng-show="formularioTop.$valid" ng-click="submitForm(formData)" value="QUIERO INFORMARME"/>
              <input type="submit" ng-show="formularioTop.$invalid" value="COMPLETÁ LOS DATOS" ng-disabled="formularioTop.$invalid"/>
            </div>
            <div class="input input-flex">
              <figure><img src="img/candado.png" alt=""></figure>
              <p>Jamás compartiremos tu información personal con nadie, sólo la utilizaremos para responder tu consulta en INLAE.</p>
            </div>
          </form>
        </div>
      </div>
    </section>
    <script src="js/isMobile.js"></script>
    <script src="js/scripts.js"></script>