doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", href="img/favicon.png")
    link(rel="stylesheet", href="css/styles.css")
    title INLAE
  body
    header#header
      .ed-container
        .ed-item.base-80.web-40.cross-center
          figure
            img(src="img/logo-full.svg").logo
        .ed-item.hasta-web.base-20.cross-center.main-end
          h2.icon-menu
        .ed-item.web-30
        .ed-item.web-5.cross-center.desde-web
          p.icon-facebook
        .ed-item.web-5.cross-center.desde-web
          p.icon-twitter
        .ed-item.web-20.abcenter.cross-center.desde-web
          h3 LLAMANOS AL
          h2 
            span (011) 
            | 5277-4997 
    nav#nav
      ul
        .ed-container
          .ed-item.web-65.web-justify.web-cross-center
            li
              a(href="#") inicio
            li
              a(href="#") INLAE
            li
              a(href="#") Cursos
            li
              a(href="#") Preguntas Frecuentes
            li
              a(href="#") Blog
            li
              a(href="#") Acceso Alumnos
              span.icon-triangulo-abajo
    section#seccion1
      .ed-container.justify
        .ed-item.web-65.no-padding
          figure
          .llamanos
            h2
              span.icon-telefono.desde-tablet
              | LLAMANOS AL: (011) 5277-4997
        .ed-item.web-30.abcenter.no-padding
          form(action="form.php")
            p CONOCE MÁS
            .input
              input(type="text",placeholder="Nombre",required)
            .input
              input(type="email", placeholder="E-mail",required)
            .input
              input(type="number", placeholder="Cód. Área",required)
            .input
              input(type="number", placeholder="Teléfono",required)
            p seleccione su curso de Interés
            .input
              select#select(name="select")
                option(value="1",selected) Seleccionar
                option(value="2") Apicultura
                option(value="3") Analista en Recursos Humanos
                option(value="4") Analista en Gestión Rural
                option(value="5") Asistente en Comercio Exterior
                option(value="6") Asistente de Marketing
                option(value="7") Asistente Financiero
                option(value="8") Atención al cliente
                option(value="9") Mecánica de vehículos
                option(value="10") Educación especial
                option(value="11") Conservas
                option(value="12") Gestión contable y auditoría empresarial
                option(value="13") Gestión de ventas
                option(value="14") Recreación y Tiempo libre 
                option(value="15") Especialista en Aluminio
                option(value="16") Carpintería 
                option(value="17") Fotografía
                option(value="18") Contabilidad
                option(value="19") Refrigeración
                option(value="20") Albañilería
                option(value="21") Instalaciones Sanitarias y Gas
                option(value="22") Peluquería
                option(value="23") Secretariado Ejecutivo
                option(value="24") Repostería
                option(value="25") Maquillaje
                option(value="26") Técnico Soldador
                option(value="27") Técnico Electricista
                option(value="28") Cocina
                option(value="29") Jardinería
                option(value="30") Asistente Contable
                option(value="31") Inglés
                option(value="32") Administración de Empresas
                option(value="33") Control de Plagas en Jardinería
                option(value="34") Creación de Páginas web
                option(value="35") Decoración artesanal
                option(value="36") Diseñador gráfico
                option(value="37") Diseño de indumentaria
                option(value="38") Masajes y Spa
                option(value="39") Productor de Seguros
                option(value="40") Profesional en estética
                option(value="41") Profesional en turismo y hotelería
                option(value="42") Reparación de la electrónica
                option(value="43") Reparación en Joyería 
            .input                     
              input(type="submit",value="QUIERO INFORMARME")
    section#seccion2
      .ed-container
        .ed-item
          h2 OFICIOS Y PROFESIONES
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item
          button VER MÁS CURSOS
    section#seccion3
      .ed-container
        .ed-item
          h2 ADMINISTRATIVO Y EMPRESARIAL
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item.tablet-25.movil-50
          figure
            img(src="img/home.jpg", alt="")
          p
            span.icon-logo
            | Fotografía
        .ed-item
          button VER MÁS CURSOS
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/scripts.js")
