#seccion1{

	figure.figure-home{
		width: 100%;
		height: 400px;
		background-image: url(../img/mobile-home.jpg);
		background-position: 50% 20%;
		background-size: cover;

		&.fotografia{
			background-image: url(../img/small/fotografia.jpg);
		}
		&.inlae{
			background-image: url(../img/small/institucion.jpg);
		}
		
		@include desde(movil){
			background-image: url("../img/home.jpg");
			&.fotografia{
				background-image: url(../img/fotografia.jpg);
			}
			&.inlae{
				background-image: url(../img/institucion.jpg);
			}
		}
	}
	.Titulo-curso{
		text-transform: uppercase;
		h2{
			color:$colorred;
			margin-top: .1em;
		}
	}
	.llamanos{
		background: $colorblue;
		width: 100%;
		max-height: 54px;
		h2{
			font-size: 1.9em;
			font-weight: $normal;
			color:white;
			margin: 21px 0;
			text-align: center;
			position: relative;
			span{
				font-size: 1.5em;
				background: #00a550;
				border:4px solid white;
				border-radius:15px;
				display:flex;
				top:-.3em;
				left:1.5em;
				justify-content:center;
				align-items:center;
				flex-flow:row nowrap;
				width: 71px;
				height:71px;
				position: absolute;
				&:before{
					top:0;
				}
			}
		}
	}
	.llamanosAhora{
		position:relative;
		background: linear-gradient(to right, #44c1c2 0%,#036766 100%);
		text-align: center;
		h2{
			color:#fff100;
			margin-top: 0;
			span{
				font-size: .8em;
			}
		}
		h3{
			color:white;
			margin-bottom: 0;
			&:after{
				height:0;
			}
		}
		&:after,&:before{
			content:"";
			position:absolute;
		}
		&:after{
			width:150px;
			height:63px;
			background: linear-gradient(to right, #44c1c2 0%,#036766 100%);
			bottom:-20px;
			right: -100px;
		}
		&:before{
			width: 0;
			height:0;
			top:-20px;
			right: 0px;
			border-right: 0 solid  transparent;
			border-top: 20px solid transparent;
			border-left: 50px solid transparent;
			border-bottom: 20px solid #44c1c2;
		}
		img[alt="telefono"]{
			position:absolute;
			max-height:58px;
			right:-45px;
			top:23px;
			z-index: 999;
		}
	}
}
span.icono-logo{
	position:relative;
	display:block;
	&:before{
		position:absolute;
		content: url(../img/icono-small.png);
		left:-3em;
		top:0;
	}
}
form{
	width: 100%;
	background: $colorred;
	height:462px;
	color:white;
	box-sizing: border-box;
	overflow:hidden;
	input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0; 
	}

	  input[type=number] {
	    -moz-appearance:textfield;
	}
	h3{
		margin: 0;
		margin-bottom: .5em;
		margin-top: 1em;
		color:white;
	}
	p{
		margin-bottom: 0;
	}
	.input{
		width: 90%;
		margin: auto;
		position: relative;
		input,select{
			width: 100%;
			padding-left:.5em;
			border:none;
			border-radius:5px;
			height:37px;
			margin-bottom: .8em;
			&[placeholder="Teléfono"]{
				margin-bottom: 0;
			}
			&[type="submit"]{
				-webkit-appearance: none;
				height:64px;
				cursor:pointer;
				background: #a6ce38;
				color:white;
				font-size: 1.2em;
				text-shadow: 2px 2px 4px rgba(0,0,0,.8);
				box-shadow: 3px 4px 4px rgba(0,0,0,.5);
			}
			&[value="COMPLETÁ LOS DATOS"]{
				background: #929393;
				cursor: not-allowed;
			}
		}
		&-flex{
			display:flex;
			p{
				font-size: .7em;
				text-align: left;
				width: 100%;
				color:rgba(0,0,0,1);
			}
			figure{
				margin-right: .8em;
			}
		}
	}

}

#seccion2,#seccion3{
	p{
		padding-left: 3em;
		margin-bottom: 2em;
	}
	h2{
		color:$colorred;
	}
	button{
		width: 100%;
		max-width: 480px;
		background: #a6ce38;
		border:none;
		height:65px;
		border-radius: 8px; 
		color:white;
		font-size: 1.4em;
		margin: 2em auto;
		text-shadow: 2px 2px 4px rgba(0,0,0,.8);
		box-shadow: 3px 4px 4px rgba(0,0,0,.5);
	}
}
.blue{
	color:$colorblue;
}
.margen-top{
	margin-top:24px;
}
#seccion4{
	h2{
		color:$colorred;
	}
	a p{
			padding-left: 3em;
			margin-bottom: 2em;
	}
	h3{
		color:$colorblue;
		position:relative;
		&:after{
			position:absolute;
			content:"";
			width: 100%;
			height:1px;
			background: $colorblue;
			bottom:-.5em;
			left:0;
		}
	}
	li:last-child{
		margin-bottom: 2em;
	}
	.llamanos{
		position:relative;
		background: linear-gradient(to right, #44c1c2 0%,#036766 100%);
		text-align: center;
		h2{
			color:#fff100;
			margin-top: 0;
			span{
				font-size: .8em;
			}
		}
		h3{
			color:white;
			margin-bottom: 0;
			&:after{
				height:0;
			}
		}
		&:after,&:before{
			content:"";
			position:absolute;
		}
		&:after{
			width:150px;
			height:63px;
			background: linear-gradient(to right, #44c1c2 0%,#036766 100%);
			bottom:-20px;
			right: -100px;
		}
		&:before{
			width: 0;
			height:0;
			top:-20px;
			right: 0px;
			border-right: 0 solid  transparent;
			border-top: 20px solid transparent;
			border-left: 50px solid transparent;
			border-bottom: 20px solid #44c1c2;
		}
		img[alt="telefono"]{
			position:absolute;
			max-height:58px;
			right:-45px;
			top:23px;
			z-index: 999;
		}
	}
}
.form-bottom{
	background: #d1d2d4;
	form{
		background: transparent;
	}
}
#footer{
	padding-bottom: 1em;
	h3{
		margin-bottom: 0;
	}
	h2{
		margin: 0;
		color:$colorred;
		span{
			font-size: .7em;
		}
	}
	p{
		font-size: .9em;
	}
}
.showMe{
	color:#000;
	position: absolute;
	top:-38px;
	right:0;
	background: #fff100;
	text-shadow: 2px 3px 1px rgba(255,255,255,.8);
	line-height:2;
	padding: 0 2em;
	border-radius: 5px;
	border: 2px solid $colorred;
	&:after{
		content: "";
		position: absolute;
		width:0px;
		height: 0px;
		left:5px;
		bottom:-14px;
		border: 8px #fff100 solid;
		border-left-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
	}
	&:before{
		content:"";
		position: absolute;
		width:0;
		height: 0;
		left:5px;
		bottom: -16px;
		border: 8px solid $colorred;
		border-left-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
	}
}
@keyframes mover{
	0%{
		background-position:200% 50%;
	}
	100%{
		background-position:95% 50%;
	}
}
@keyframes mover2{
	0%{
		background-position:500% 50%;
	}
	100%{
		background-position:95% 50%;
	}
}
@keyframes campo{
	0%{
		transform: scale3d(.2,.2,1);
	}
	80%{
		transform: scale3d(1.2,1.2,1);
	}
	100%{
		transform: scale3d(1,1,1);
	}
}


input.ng-invalid.ng-dirty {
	border: 2px solid #fa787e;
	background-image: url(../img/error.png);
	background-repeat: no-repeat;
	background-position:95% 50%;
	animation: mover .5s ease-in-out;
}
input.ng-valid.ng-dirty {
	border: 2px solid #78fa89;
	background-image: url(../img/correcto.png);
	background-repeat: no-repeat;
	background-position:95% 50%;
	animation: mover2 .3s ease-in-out;
}
input[type="submit"]:disabled {
    background: red;
    border: 1px solid grey;
    position: relative;
    cursor: not-allowed;
    -webkit-appearance: none;
    opacity:1;
}
.btn-gracias{
	width:100%;
	max-width:320px;
	border-radius: 15px;
	background: linear-gradient(to bottom, #52d81a 0%,#207324 100%);
	color:white;
	border: 2px solid rgba(255,255,255,.3);
	font-size:1.2em;
	margin-top: .8em;
}

.preguntas{
	margin-bottom: 5em;
	.pregunta{
		width: 100%;
		background: $colorblue;
		color:white;
		line-height: 2;
		padding-left: 1em;
		font-weight: $normal;
		display:flex;
		justify-content:space-between;
		cursor:pointer;
		margin-bottom: 0;
		span{
			display:inline-block;
			margin-right: .8em;
		}
	}
	p{
		padding: 0 .8em;
		height:0;
		overflow:hidden;
		transition:all .4s;

		&.aparece{
			height:auto;
			transition:all .4s;
			margin-top: .5em;
			@include desde(movil){
				height:250px;
			}
			@include desde(tablet){
				height:160px;
			}
			@include desde(web){
				height:180px;
			}
		}
	}
}